
// global styles
.container {
  width: 1000px;
  margin: 0 auto;
  overflow: auto;
}

heaader {
  overflow: auto;
}

a {
  text-decoration: none;
  color: #51B5CC;
}

ul {
  padding: 0px;
}
// header / nav links

.logo_div {
  overflow: auto;
  float: left;
}

.logo_text {
  font-family: 'Droid Serif', serif;
  color: orange;
  font-size: 30px;
  margin: 26px 10px;
}

.logo_left {
  float: left;
  overflow: auto;
  width: 400px;

}

.search_wrapper {
  float: right;
  margin-top: 32px;
  border: 1px solid #DEDAD7;
  border-radius: 2px;
background-color: #FBFBF9;
}

input[type="text"] {
  width: 200px;
  border: none;
background-color: #FBFBF9;
}

input[type="button"] {
  background-color: #34A7C2;
  border: none;
  color: white;
  font-size: 16px;
}

.links_right {
  float: right;
  margin-top: 16px;
  margin-right: 10px;
}

.links_right ul li {
  list-style: none;
  display: inline-block;
  padding: 4px 14px;
}

.sign_in {
  float: right;
  border: 2px solid #51B5CC;
  border-radius: 2px;
  margin-bottom: 4px;
}

body > div > header > div > div.links_right > ul > li:nth-child(1) > a {
  line-height: 24px;
}

.cart_div {
  float: right;
  text-align: center;
  border-left: 1px #DEDAD7 solid;
  margin: 24px 0px 0px 8px;
  padding: 4px 4px 4px 12px;
}

.cart_image {
  width: 18px;
}



// .logo_right {
//   float: right;
//   overflow: auto;
//   border: 1px solid blue;
// }
//
// .logo_right ul li {
//   list-style: none;
//   display: inline-block;
//   margin-bottom: 0px;
//   padding-bottom: 20px;
// }
//
// .logo_right ul {
//
//   display: inline-block;
//
// }

// category links
nav {
  clear: both;
  font-family: arial;
  color: gray;
}

nav ul li {
  display: inline;
  padding: 4px 4px;
}


// section main

.main {
  background-color: #F4F5F0;
  overflow: auto;
}

.titles {
  clear: both;
}

.left_sidebar_title {
  width: 200px;
  float: left;
  background-color: #F4F5F0;
  padding: 0px;
  margin-top: 16px;
  font-weight: bold;
}

.right_sidebar_title {
  float: right;
  width: 740px;
  height: 20px;
  padding: 8px;
  margin: 6px;
}

.left_sidebar {
  width: 200px;
  float: left;
  background-color: #ffffff;
  padding: 4px;
  margin: 16px 0px 0px 0px;

  ul li {
    list-style: none;
    padding: 4px;
  }
}

.product_column {
  float: right;
  width: 740px;
}

.card {
  overflow: auto;
  width: 160px;
  padding: 0px;
  border-radius: 2px;
  float: left;
  background-color: #ffffff;
  margin: 10px;
  border: 1px solid gray;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  transition: all 1s ease;

  &:hover {
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
  }
}

.ad_button {
  font-size: 10px;
  padding: 4px;
  margin: 4px;
}

.product_image {
  width: 160px;
  height: 160px;
  display: block;
}

.product_text_area {
  padding: 4px;
  line-height: 22px;
}

div.product_text_area > span.product_title {
  font-family: arial;
  font-size: 14px;
  color: #2D2D2D;
}

.product_seller {
  float: left;
  font-family: arial;
  font-size: 12px;
  color: #9B9B9B;
}

.product_price {
  float: right;
  color: #7CC248;
}
