
// global styles
.container {
  width: 972px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #0092BD;
}

// header / nav links

.logo_text {
  display: inline-block;
  font-family: 'Droid Serif', serif;
  color: orange;
  font-size: 30px;
}

.logo_left {
  float: left;
  overflow: auto;

}

.logo_right {
  float: right;
  overflow: auto;

}

.logo_right ul li {
  list-style: none;
  display: inline-block;
  margin: auto 20px;
}

.cart_div {
  text-align: center;
  border-left: 1px gray solid;
}

nav {
  clear: both;
  font-family: arial;
  color: gray;
}

nav ul li {
  display: inline;
  padding: 4px 4px;
}


// section main

.main {
  background-color: #F4F5F0;
  overflow: auto;
}

.left_sidebar {
  width: 200px;
  height: 600px;
  float: left;

  ul li {
    list-style: none;
    line-height: 24px;
  }
}

.product_column {
  float: right;
  width: 740px;
}

.row {

}

.card {
  overflow: auto;
  width: 220px;
  padding: 0px;
  border-radius: 2px;
  float: left;
  background-color: #ffffff;
  margin: 10px;
  border: 1px solid gray;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.ad_button {
  font-size: 10px;
  padding: 4px;
  margin: 4px;
}

.product_image {
  width: 220px;
  height: 220px;
  display: block;
}

.product_text_area {
  padding: 4px;
  line-height: 22px;
}

div.product_text_area > span.product_title {
  font-family: arial;
  font-size: 14px;
  color: #2D2D2D;
}

.product_seller {
  float: left;
  font-family: arial;
  font-size: 12px;
  color: #9B9B9B;
}

.product_price {
  float: right;
  color: #7CC248;
}
